.skill-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  .stack {
    margin: 10px;
  }
  p {
    text-align: center;
  }
  img {
    width: 45px;
    min-height: 45px;
  }
}

.underline {
  border-bottom: 2px solid rgb(75, 69, 80);
}
// .skill-summary {
//   h3 {
//     color: black !important;
//   }
// }
.tokyo_tm_modalbox_about .skill-summary.my_box {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  .underline {
    width: 50%;
    margin-left: 25%;
  }
  .about_title {
    h3 {
      text-align: center;
      color: black;
    }
  }
  p {
    margin-top: 10px;
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
    color: black;
  }
}
